<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Authorization</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.css">
    <style>


        fieldset {
            position: absolute;
            right: 460px;
            width: 550px;
            height: 300px;
            background-color: white;
            top: 10px;

        }

        html {
            background-color: #ff8300;
        }

        input {
            margin-top: 50%;
        }

        img {
            position: absolute;
            right: 500px;
            top: 350px;

        }
    </style>
</head>

<body>

<fieldset>
    <form action="login" method="post">
        <h2>Sign in</h2>
        <input style="margin-top: 5%" type="email" placeholder="Email" name="email">
        <input style="margin-top: 5%" type="password" placeholder="Password" name="password">

        <button style="margin-top: 5%" class="button-lg button-warning" style="margin-top: 5%" type="button">Sign in
        </button>
    </form>
</fieldset>
<img src="https://media2.giphy.com/media/i79P9wUfnmPyo/giphy.gif?cid=ecf05e47a9178c1cbbc3a741085a6152f87448362dba2354&rid=giphy.gif">
<script src="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.js"></script>
</body>
</html>