<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Add song</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.css">
    <style>
        fieldset {
            position: absolute;
            right: 460px;
            top: 100px;
            width: 550px;
            height: 400px;
        }
    </style>
</head>



<body>
<fieldset>
    <legend>New Song</legend>
    <form action="new_song" method="post">
<span class="file-button">
    <p>Album pic</p>
  <input type="file" id="my-file">
  <label class="button" for="my-file">Select File</label>
</span>
        <input style="margin-top: 5%" type="text" name="title" placeholder="Title">
        <div style="margin-top: 5%" class="dropdown">
            <button type="button" class="dropdown-trigger">Genre</button>
            <div class="dropdown-menu">
                <a value="Rock">Rock</a>
                <a value="Classical">Classical</a>
                <a value="Country">Country</a>
                <a value="Electronic">Electronic</a>
                <a value="Rap">Rap</a>
                <a value="Techno">Techno</a>
            </div>
        </div>
        <textarea style="margin-top: 5%" placeholder="Description"></textarea>
        <button style="margin-top: 5%">Send</button>


    </form>
</fieldset>
<script src="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.js"></script>
</body>
</html>