<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.css">
</head>
<body>
<div class="row">
    <p class="profile_name">Profile</p>
</div>

    </div>
    <div class="fc col-sm col-sm-pull-1">
        <div>
            <label>Your login:</label>
            <p class="user_data border-top border-bottom">${login}</p>
        </div>
        <div>
            <label>Name:</label>
            <p class="user_data border-top border-bottom">${name}</p>
        </div>
        <div>
            <label>Email:</label>
            <p class="user_data border-top border-bottom">${email}</p>
        </div>

    </div>
<script src="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.js"></script>
</body>
</html>